.wrapper {
	display: flex;
	margin: 1rem 0;

	.search-input,
	.search-button {
		padding: 0.85rem;
		border: 1px solid var(--colors-border);
		background-color: var(--bg-color);
		color: var(--colors-text);
		box-shadow: var(--shadow);
		font-size: var(--fs-sm);
		font-family: var(--family);

		&:focus-visible {
			outline: 1px solid var(--colors-border);
		}
	}

	.search-input {
		flex: 9;
		position: relative;
		border-top-left-radius: var(--radius);
		border-bottom-left-radius: var(--radius);
		border-right-width: 0;

		&:focus {
			border-right-width: 1px;
		}

		&::placeholder {
			color: var(--colors-text);
			opacity: 0.8;
		}
		// &::-webkit-search-cancel-button {
		// 	display: none;
		// }

		// &::before {
		// 	content: '×';
		// 	position: absolute;
		// 	color: var(--colors-text);
		// 	top: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	left: 0;
		// 	width: 10px;
		// 	height: 10px;
		// 	transform: translateY(50%);
		// }
	}

	.search-button {
		flex: 1;
		border-top-right-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
		cursor: pointer;

		& > span {
			display: block;
			transition: all 200ms ease-in;
		}

		&:hover {
			& > span {
				transform: scale(1.1);
			}
		}
	}
}
