.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem;
}

.header {
	display: flex;
	justify-content: space-between;
}

.home_link {
	font-size: 2rem;
	font-style: italic;
	font-weight: 500;
	color: var(--colors-text);
	text-decoration: none;
}
